
.navList{
    padding:0;
    margin:0;
    list-style-type:none;
    background-color:rgb(17, 16, 16);
    width:100%;
    height:100%;
    float:left;
    overflow:auto;
     border: #000;   

  }
  
  .navList li a{
    text-decoration:none;
    color:rgb(99, 96, 96);
    padding:10px;
    display:block;
    transition:0.3s;
  }
  
  .navList li a:hover{
    color:rgb(15, 12, 12);
    background-color:#aaa;
  }
  
  .navList li a[href="#three"]{
    color:#fff;
    background-color:#000;
  }
  
  .content{
    height:100%;
    overflow:auto;
  }
  

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container1 {
  max-width: 850px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(170, 114, 114);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(51, 47, 47, 0.8);
}
/*caption text ena */
.text1{color: #524848;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #493a3a;
}

/* Fading animation */
.fade {
  -webkit-animation-name:fade;
  -webkit-animation-duration: 30000000000s;
  animation-name: fade;
  animation-duration:3000000000000s ;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}